/****Form****/

#form {
margin-top: 10px;
padding-right: 25%;
padding-left: 25%;
margin-bottom: 23px;
text-align: center;
}

#form input {
	 border: 1px solid #393553;
	 	 padding: 8px 12px 8px;
	background-color: #FFFFFF;

	width: 100%;
	height: 34px;
	float:left;
	font: 12px/18px  Arial, Helvetica, sans-serif;
	color: #013220;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

#form textarea {
	height: 293px;
	overflow: auto;
	background-color: #FFFFFF;
	 border: 1px solid #393553;
	 	 padding: 7px 12px 8px;
	width: 100%;
	position: relative;
	resize:none;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float:left;
	font: 12px/18px  Arial, Helvetica, sans-serif;
	color: #013220;
	margin: 0;
	
}
#form label {
	position:relative;
	display: block;
	min-height: 41px;
	width: 100%;
	float: left;
}





#form .error, #form .empty {
	color: #FF0000;
	display: none;
	font-size: 10px;
	line-height:14px;
	width:auto;
	position: absolute;
	z-index: 999;
	right: 5px;
	top: 10px;
	float:left;
}

#form .error-empty {
	display:none;
	float:left;
}

.btns {
	position:relative;
	padding-top: 28px;
	text-align: right;

}


.btns a {
	cursor: pointer;
	text-transform: capitalize;
	padding-right: 0;
	background: none;
	display: inline-block;
	font-size: 14px;
}

.btns a+a {
	margin-left: 20px;
}

#form .message {
	width: 100%;
}

#form .btns span {
	display: inline-block;
	width: 13px;
}


.message br {
	height: 0;
	line-height: 0;
}

#form .success {
	display: none;
	position: absolute;
	width: 100%;
	background-color: #FFFFFF;
border: 1px solid #393553;
		text-align: center;
	padding: 20px 10px;
	z-index: 999;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}



.success_wrapper {
	position: relative;	
}

/*Content*/

.content {
	padding-bottom: 44px;
}

.page1 .content {
	padding-bottom: 47px;

}

.p1, .p2  {
	color: #fff;
}

.p1 a {
	color: #ff4a4a;
}

.p2 a {
	 color: #ee0f0f;
}

.p1 a:hover, .p2 a:hover {
	color: #fff;
}

.box {
	border-bottom: 1px solid #e85441;
	background-color: #423d60;
	padding: 0 34px 17px;
}

.page1 .box {
	padding-right: 44px;
}

.pl1 {
	padding-left: 34px;
}

.cont1 .fleft{
	margin-right: 20px;
	padding-bottom: 2px;
	padding-top: 1px;
}




.typo {
	width: 635px;

	margin-bottom: 20px;
	position: relative;
}

.ind {
	height: 25px;
}
.typo .anim {
	width: 635px;
	position: absolute;
	top: 0;
	display: none;
}

.typo:hover .anim {
	display: block;
	height: 100px;
}

.car_div {
	overflow: hidden;
	height: 148px;
	margin: 0 -10px 57px;
}


.carousel1 {
	cursor: default !important;
}

.carousel1  li {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	font-weight: bolder;
	float: left;
	margin: 0 10px;
}

.block1 img {
	background-color: #e85441;
	margin-bottom: 5px;
	padding-left: 17px;
	padding-right: 18px;
}

.block1 {
	border-bottom: 1px solid #e85441;
	text-align: center;
	font-weight: bolder;
	font-size: 14px;
	padding-bottom: 7px;
	background-color: #423d60;
}

.block1+.block1 {
	margin-top: 48px;
	padding-bottom: 6px;
}

.block1+.block1 img {
	margin-bottom: 6px;
}

.block1+.block1+.block1 {
	margin-top: 49px;
}

.blue {
	border-color: #527dca;
}

.blue.block1 img, .cont1  .blue img{
	background-color: #527dca;
}

.cont1 .box.bx2 {
	padding-left: 0;
	padding-right: 0;
}

.green {
	border-color: #738a17;
}

.green.block1 img, .cont1 img   {
	background-color: #738a17;
}

.cont1  .green img {
	background-color: #e85441;
}

.cont1 .alright {
	padding-right: 34px;
}

.carousel1  li img {
	margin-bottom: 22px;
}

a.prev, a.next {
	display: block;
	width: 33px;
	background: url(../images/prevnext.png) 0 0 no-repeat;
	height: 28px;
	float: right;
	margin-top: 37px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
a.next {
	margin-left: 1px;
	background-position: right bottom;
}

a.prev:hover {
	background-position: 0 bottom;
}

a.next:hover {
	background-position: right 0;
}

.box.bx1 {
	padding-right: 32px;
	padding-bottom: 61px;
	position: relative;
}

.box.bx1 img {
	right: 23px;
	bottom: 10px;
	position: absolute;
}


.bx2 {
	border-bottom-width: 3px;
}

.text1 {
	color: #e85441;
	font-size: 18px;
	margin-bottom: 15px;
}

.pb1 {
	padding-bottom: 22px;
}

.pt1 {
	padding-top: 22px;
}

.block2 {
	width: 265px;
	float: left;

}

.block2 +.block2  {
	margin-left: 38px;
}

.img_inner.i1 {
	margin-top: -2px;
	margin-bottom: 22px;
}

a.col1 {
	color: #e85441;
}

a.col1:hover {
	color: #fff;
}

.text1 a:hover {
	color: #fff;
}
